/*
Author: arpinux http://arpinux.org
*/
/* options -----------------------------------------------------------*/
* { padding:0; margin:0; }
ul li, ol li { list-style: square; list-style-position: inside; }
ol ol, ul ul, ol ul, ul ol { margin-left: 15px; margin-bottom: 0; }
ul { margin-bottom: 10px; }
img { 
    border: 1px solid #000;
    margin-left: 10px;
}
img.sansbordure { border: 0 none; }
a { color:#D7D7D7; text-decoration:none; }
a:hover { color:#7D7D7D; text-decoration:underline; }
p { margin: 10px; }
/* body --------------------------------------------------------------*/
body {
	color: #7D7D7D;
	background: #0F0F0F;
}
h1 {
	font-family: sans-serif;
	font-size: 26px;
	color: #aaa;
	margin-bottom: 15px;
    border-bottom: 1px solid #aaa;
}
h2 {
	font-family: sans-serif;
	font-size: 18px;
    background-color: #333;
	color: #aaa;
	margin: 25px 10px 10px 10px;
    border-bottom: 1px solid #aaa;
    padding: 5px 0 5px 15px;
}
h3 {
	font-family: sans-serif;
	font-size: 16px;
	color: #aaa;
	margin: 5px;
    text-decoration: underline;
}
/* container ---------------------------------------------------------*/
#container {
	width: 100%;
	height: 100%;
	margin: 0px auto;
    padding-bottom: 20px;
	overflow: hidden;
    background: #333;
}
/* header ------------------------------------------------------------*/
#header {
    position: fixed;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 55px;
    background-color: #0F0F0F;
    border-bottom: 1px solid #7D7D7D;
    opacity: 0.9;
    -moz-opacity : 0.9;
    -ms-filter: "alpha(opacity=90)";
}
#header h1 { border: none; }
#header h1 img {
    position: absolute;
    right: 0px;
    top: 0px;
}
#header h2 {
    position: absolute;
    font: 16px sans-serif;
	left: 20px;
    top: 15px;
    border: none;
    padding: 0;
    margin: 0;
    background-color: #0F0F0F;
}
/* content -----------------------------------------------------------*/
#links {
	display: block;
	margin: 70px auto 5px auto;
	width: 98%;
}
.categorie {
	padding: 10px;
	margin: 5px;
	float: left;
	position: relative;
	background-color: #1A1A1A;
	border: 1px solid #7D7D7D;
	color: #B7B7B7;
}
.blockquote {
    padding: 0 5px 0 5px;
    margin: 5px 30px 5px 20px;
    max-height: 300px;
    background-color: #000000;
    color: #B7B7B7;
    font: 14px monospace;
    border: 1px dashed #7D7D7D;
    overflow-y: auto;
}
/* footer ------------------------------------------------------------*/
#footer {
    position: relative;
    margin-bottom: 0px;
    display: block;
	padding: 5px;
	background-color: #0F0F0F;
    font-size: 10px;
    border-top: 1px solid #7D7D7D;
    text-align: center;
}
/* cc BY-NC-SA License :: arpinux :: 2011 :: http://arpinux.org */
